.bottom-border {
    border-bottom: 1px solid #fff;
  }
  
  .card-component__section{
      background-color: black;
      width: 310px;
      margin: 5px;
      padding: 10px;
      position: relative;
      .card-component__content{
        position: relative;
        margin: 0 5px;
      }
      img {
        text-align: center;
        display: block;
        margin: 0 auto;
      }
      .card-component__header {
        background-color: black;
        color: #fff;
        opacity: 0.6;
        padding: 10px 15px;
        position: absolute;
        top:-56px;
        width: -webkit-fill-available;
      }
      .card-component__details{
        background-color: darkgray;
        color: #fff;
        padding: 20px;

          label{
            color: orange;
            float: right;
          }
      }
  }